%html
  %head
  %body
    = yield
    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/js/highcharts.js' }
    %script{ :type => 'text/javascript', :src => '/js/application.js' }
